.input-group-text {
    width: 150px !important;
}


.modal-content {
    background-color: rgba(128, 128, 128, 0.925);
}

.backgroundImg {
    background-size: cover;
    position: relative;
    z-index: 1;
}

#myModal {
    position: relative;
}

.cuadrado{
    width: 100px;
    height: 100px;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}



/* CREAR PETICION */

*{box-sizing:border-box;}

form{
	width:350px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],form input[type="file"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
}

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}